<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="plugins/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>控制台</title>
    <style>
        .item-card {
            margin: 20px;
            border-bottom: solid 1px #dddddd;
            height: 100px;
        }
        .item-card img {
            width: 80px;
            height: 80px;
        }
        .content-show table {
            text-align: center;
        }

        .content-show thead {
            border-bottom: solid 1px #dddddd;
        }

        .pagination {
            margin-top: 1rem;
        }

        .list-group-item.active {
            background-color: #f55d54;
            border-color: #f55d54;
        }
        .btn-primary {
            background-color: #f55d54;
            border-color: #f55d54;
        }

        .page-link {
            color: #f55d54;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://y4ngyy.xyz/assets/avatar.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="home-name">云会议系统</span>
        </a>
        <div class="nav-list">
            <a href="#" class="nav-list-item">公开会议列表</a>
            <a href="#" class="nav-list-item">控制台</a>
            <a href="" class="nav-list-item">消息</a>
            <a href="#" class="nav-list-item">个人中心</a>

            <span style="color: #ff5722;" class="nav-list-item">
                <i class="fas fa-power-off"></i>
                <a href="#">退出</a>
            </span>

        </div>
    </nav>

    <div class="container main-content">
        <div class="row header">
            <div class="col-3">
                <button type="button" class="btn w-100" style="background-color: #f55d54; color: #fff;">
                    <i class="fas fa-plus"></i>
                    新建会议
                </button>
            </div>
            <div class="col-9 title">
                <h5>控制台</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-3 function-list">
                <span>功能列表</span>
                <div class="w-100  list-group">
                    <a href="#"  class="list-group-item active" data-toggle="collapse"  data-target="#collapseExample">我的</a>
                    <div id="collapseExample" class="collapse">
                        <a href="#" class="list-group-item">已发布</a>
                        <a href="#" class="list-group-item">已参加</a>
                        <a href="#" class="list-group-item">审核中</a>
                    </div>
                    <a href="#" class="list-group-item">占位</a>
                </div>
            </div>
            <div class="col-9 content-show">
                <div class="">会议列表</div>
                <hr/>
                <table class="w-100">
                    <thead>
                        <tr>
                            <td>项目logo</td>
                            <td>项目名称</td>
                            <td>项目类型</td>
                            <td>开始时间</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="item-card">
                            <td><img src="https://y4ngyy.xyz/assets/avatar.jpg" alt="会议图片"></td>
                            <td>会议名字</td>
                            <td>会议</td>
                            <td>2019-1-12 9:00</td>
                            <td>
                                <button type="button" class="btn btn-primary">查看</button>
                                <button type="button" class="btn btn-light">编辑</button>
                            </td>
                        </tr>
                        <tr class="item-card">
                            <td><img src="https://y4ngyy.xyz/assets/avatar.jpg" alt="会议图片"></td>
                            <td>会议名字</td>
                            <td>会议</td>
                            <td>2019-1-12 9:00</td>
                            <td>
                                <button type="button" class="btn btn-primary">查看</button>
                                <button type="button" class="btn btn-light">编辑</button>
                            </td>
                        </tr>
                        <tr class="item-card">
                            <td><img src="https://y4ngyy.xyz/assets/avatar.jpg" alt="会议图片"></td>
                            <td>会议名字</td>
                            <td>活动</td>
                            <td>2019-1-12 9:00</td>
                            <td>
                                <button type="button" class="btn btn-primary">查看</button>
                                <button type="button" class="btn btn-light">编辑</button>
                            </td>
                        </tr>
                        <tr class="item-card">
                            <td><img src="https://y4ngyy.xyz/assets/avatar.jpg" alt="会议图片"></td>
                            <td>会议名字</td>
                            <td>会议</td>
                            <td>2019-1-12 9:00</td>
                            <td>
                                <button type="button" class="btn btn-primary">查看</button>
                                <button type="button" class="btn btn-light">编辑</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="...">
                    <ul class="pagination pagination-sm justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
    <footer class="footer" id="footer">
        这是页脚
    </footer>
    <script src="plugins/fontawesome/font-awesome.js"></script>
    <script src="plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="plugins/popper/popper.min.js"></script>
    <script src="plugins/bootstrap-4.3.1/js/bootstrap.min.js"></script>
</body>
</html>


