{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="plugins/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <title>登录</title>
    <style>
        .color1{
            background: #F8F8F8;
        }
        .container{
            display:table;
            height:100%;
        }

        .row{
            display: table-cell;
            vertical-align: middle;
        }
        /* centered columns styles */
        .row-centered {
            text-align:center;
        }
        .col-centered {
            display:inline-block;
            float:none;
            text-align:left;
            margin-right:-4px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://y4ngyy.xyz/assets/avatar.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="home-name">云会议系统</span>
    </a>
    <div class="nav-list">
        <a href="#" class="nav-list-item">公开会议列表</a>
        <a href="#" class="nav-list-item">控制台</a>
        <a href="" class="nav-list-item">消息</a>
        <a href="#" class="nav-list-item">个人中心</a>

        <span style="color: #ff5722;" class="nav-list-item">
                <i class="fas fa-power-off"></i>
                <a href="#">退出</a>
            </span>

    </div>
</nav>
<div class="container main-content">
    <div class="row-centered " >
        <!-- 登陆窗口 -->
        <div class="card text-center">
            <div class="card-header">
                用户登陆
            </div>
            <div class="card-body ">
                <form class="col-centered">
                    <table style="border-collapse: separate;border-spacing: 10px 10px;">
                        <tr>
                            <td class="margin-top:10">
                                <label>用户名：</label>
                            </td>
                            <td>
                                <input type="text" name="" class="">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="pwd">密码:</label>
                            </td>
                            <td>
                                <input type="password" name="" >
                            </td>
                        </tr>
                    </table>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" name="" class="form-check-input">记住密码
                        </label>
                    </div>
                    <div class="footer bg-white" style="text-align: center;">
                        <button type="submit" class="btn btn-danger">登陆</button>
                        <button type="" class="btn btn-secondary " οnclick="Toregister()">注册</button>
                        <button type="button" class="btn btn-link"><small>忘记密码？</small></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<footer class="footer" id="footer">
    这是页脚
</footer>

<script src="plugins/fontawesome/font-awesome.js"></script>
<script src="plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="plugins/popper/popper.min.js"></script>
<script src="plugins/bootstrap-4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
