<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="plugins/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>会议信息</title>
    <style>
        .meeting-article {
            background-color: #ffffff;
            padding: 30px;
        }
        .info-box {
            border: solid 1px #dddddd;
            padding: 15px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://y4ngyy.xyz/assets/avatar.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="home-name">云会议系统</span>
    </a>
    <div class="nav-list">
        <a href="#" class="nav-list-item">公开会议列表</a>
        <a href="#" class="nav-list-item">控制台</a>
        <a href="" class="nav-list-item">消息</a>
        <a href="#" class="nav-list-item">个人中心</a>

        <span style="color: #ff5722;" class="nav-list-item">
                <i class="fas fa-power-off"></i>
                <a href="#">退出</a>
            </span>

    </div>
</nav>
<div class="container main-content">
    <div class="meeting-article">
        <h1 style="text-align: center">会议标题</h1>
        <hr>
        <h3>时间</h3>
        <div class="info-box shadow-sm rounded-sm">这放时间信息</div>
        <h3>地点</h3>
        <div class="info-box shadow-sm rounded-sm">这放地点信息</div>
        <h3>主办方</h3>
        <div class="info-box shadow-sm rounded-sm">这放主办方信息</div>
        <h3>活动简介</h3>
        <div class="info-box shadow-sm rounded-sm">这放活动简介</div>
        <h3>活动资料</h3>
        <div class="info-box shadow-sm rounded-sm">这放活动资料</div>
        <button type="button" class="btn btn-primary">参加</button>
    </div>
</div>
<footer class="footer" id="footer">
    这是页脚
</footer>

<script src="plugins/fontawesome/font-awesome.js"></script>
<script src="plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="plugins/popper/popper.min.js"></script>
<script src="plugins/bootstrap-4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
