<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="plugins/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>模板</title>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://y4ngyy.xyz/assets/avatar.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="home-name">云会议系统</span>
    </a>
    <div class="nav-list">
        <a href="#" class="nav-list-item">公开会议列表</a>
        <a href="#" class="nav-list-item">控制台</a>
        <a href="" class="nav-list-item">消息</a>
        <a href="#" class="nav-list-item">个人中心</a>

        <span style="color: #ff5722;" class="nav-list-item">
                <i class="fas fa-power-off"></i>
                <a href="#">退出</a>
            </span>

    </div>
</nav>
<div class="container main-content">
在此填充
</div>
<footer class="footer" id="footer">
    这是页脚
</footer>

<script src="plugins/fontawesome/font-awesome.js"></script>
<script src="plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="plugins/popper/popper.min.js"></script>
<script src="plugins/bootstrap-4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
